# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
.idea
.dist
.node_modules

node_modules
# Keep environment variables out of version control

/src/generated/prisma